{% if page.lang == "fr" %}
  {% assign fr = true %}
{% endif %}

{% comment %} 
  Basically, this page creates breadcrumbs in a few specific situations and everywhere else breadcrumbs are called for near the end 
{% endcomment %}

<ul class="breadcrumb">
{% if page.translationID == "privacy" %}
  <li>
    <a 
      href="/{% if fr %}contact-fr{% else %}contact{% endif %}"
    >

      {% if fr %}
        Contact
      {% else %}
        Contact Us
      {% endif %}

    </a>
  </li>

  <li>
	  
    {% if fr %}
      Politique de confidentialité
    {% else %}
      Privacy Policy
    {% endif %}

  </li>

{% elsif page.translationID == "livres-français" %}

  <li>
    <a href="/{% if fr %}liens_histoire{% else %}links_history{% endif %}"
	    >
      {% if fr %}
        Liens & histoire
      {% else %}
        Links & History
      {% endif %}
    </a>
  </li>

  <li>
    {% if fr %}
      Sélection de livres en français
    {% else %}
      Selection of books in French
    {% endif %}
  </li>

    {% else %}

  <li>
    <a href="/{% if fr %}next_steps{% else %}next_steps{% endif %}/"
     >
       {% if fr %}
         Étape suivante
       {% else %}
         Next steps
       {% endif %}
    </a>
  </li>

  {% if fr %}
    {% assign doclist = site.data.newcomer_cards.fr %}
  {% else %}
    {% assign doclist = site.data.newcomer_cards.en %}
  {% endif %}

  {% assign realurl = page.url | url_decode %}

  {% for item in doclist %}
    {% assign reallink = item.link %}

    {% if reallink == realurl %}

      <li>{{ item.title }}</li>

    {% endif %}

    {% if item.submenu[0] %}

      {% for subitem in item.submenu %}
        {% assign realsublink = subitem.sublink %}

        {% if realsublink == realurl %}

          <li> 
            <a href="{{ item.link }}">
              {{ item.title }}
            </a>
          </li>

          <li>{{ subitem.subtitle }}</li>

        {% endif %}

      {% endfor %}
    {% endif %}

  {% endfor %}

{% endif %}
</ul>
