{% if page.lang == "fr" %}
  {% assign fr = true %}
  {% assign name = "Nom" %}
  {% assign email = "Courriel" %}
  {% assign subject = "Objet" %}
  {% assign envoyer = "Envoyer" %}
{% else %}
  {% assign name = "Name" %}
  {% assign email = "Email" %}
  {% assign subject = "Subject" %}
  {% assign envoyer = "Send Message" %}
{% endif %}

<form 
  action="https://formspree.io/xzbjggnl" 
  method="POST" 
  rel="noopener" 
  target="_blank"
>

  <p>
    <input 
      aria-label="{{ name }}"
      class="w3-input w3-border w3-animate-input" 
      type="text" 
      placeholder="{{ name }}"
      required 
      name="{{ name }}"
     >
  </p>
  
  <p>
    <input 
      aria-label="{{ email }}"
      class="w3-input w3-border w3-animate-input" 
      type="email" 
      placeholder="{{ email }}"
      required 
      name="{{ email }}"
    >
  </p>
  
  <p>
    <input 
      aria-label="{{ subject }}" 
      class="w3-input w3-border w3-animate-input" 
      type="text" 
      required 
      placeholder="{{ subject }}" 
      name="{{ subject }}"
    >
  </p>
  
  <p>
    <input 
      aria-label="Message" 
      class="w3-input w3-border w3-animate-input" 
      type="text" 
      placeholder="Message" 
      required 
      name="Message"
    >
  </p>
  
  {% if fr %}
    <input type="hidden" name="_language" value="fr">
  {% endif %}
  
  <p>
    <button 
      aria-label="{{ envoyer }}" 
      class="w3-button color-1-dark" 
      type="submit"
    >
  
    <i class="fa fa-paper-plane"></i> &nbsp;

    {{ envoyer | upcase }}
  
    </button>
  </p>

</form>

