{% if page.lang == "fr" %}{% assign fr = true %}{% endif %}
{% if fr %} {% assign posty=site.posts | where:"lang","fr" %}
{% else %} {% assign posty=site.posts | where_exp:"page","page.lang != 'fr'" %}
{% endif %}
{% assign leftright = 1 %}

<section class="posts">
<ul>
	{% assign counter = 0 %}
  {% for post in posty %}

	{% assign counter = counter | plus: 1 %}
            {% comment %}All this code is just to assign the date properly in French{% endcomment %}
  {% if fr %}
      {% capture date_cap %} {{ post.date | date: "%-d" }} {% assign m = post.date | date: "%-m" %}
      {% case m %}
        {% when '1' %}janvier {% when '2' %}février {% when '3' %}mars {% when '4' %}avril {% when '5' %}mai {% when '6' %}juin {% when '7' %}juillet {% when '8' %}août {% when '9' %}septembre  {% when '10' %}octobre {% when '11' %}novembre  {% when '12' %}decembre
      {% endcase %}
      {{ post.date | date: "%Y" }}
      {% endcapture %}{% assign datey = date_cap %}
    {% else %}
  {% assign datey = post.date | date: "%B %-d, %Y" %}
  {% endif %}
{% comment %}Below is the actual code creating the cards{% endcomment %}
{% comment %}{% if counter == 7 %}<button id=more class="w3-button color-1-dark" onclick="ShowMoreCards()" id="MoreBtn">{% if fr %}Voir plus{% else %}See more{% endif %}</button>
<div id=more>
	{% endif %}{% endcomment %}
<li onclick='location.href="{{ post.url | escape }}";' class="fade fadeOut{% if leftright == 1 %}Left{% elsif leftright == 2 %}Right{% endif %}">
    <div class="post-card">
       <h3>{{ post.title }}</h3>
    </div>
    <div class="post-container">
	    <p><strong>{{ datey }}</strong></p>
      {{ post.excerpt }}
    <a href="{{ post.url }}" class="decorate_link">{% if fr %}lire la suite{% else %}continue reading{% endif %}</a>
    <div>&nbsp;</div>    
    </div>
  </li>
      {% if leftright == 1 %}{% assign leftright = 2 %}{% elsif leftright == 2 %}{% assign leftright = 1 %}{% endif %}
 {% endfor %}
 </ul>
</section>
