{% if page.lang == "fr" %}
  {% assign fr = true %}
{% endif %}

{% if fr %}
  {% assign selected_posts=site.posts | where:"lang","fr" %}
{% else %}
  {% assign selected_posts=site.posts | where_exp:"page","page.lang != 'fr'" %}
{% endif %}

{% comment %}
  All this code is just to assign
  the date properly in French
{% endcomment %}

{% if fr %}

  {% capture date_capture %}

    {{ post.date | date: "%-d" }} 

    {% assign m = post.date | date: "%-m" %}
    {% case m %}
      {% when '1' %}janvier 
      {% when '2' %}février 
      {% when '3' %}mars 
      {% when '4' %}avril 
      {% when '5' %}mai 
      {% when '6' %}juin 
      {% when '7' %}juillet 
      {% when '8' %}août 
      {% when '9' %}septembre  
      {% when '10' %}octobre 
      {% when '11' %}novembre  
      {% when '12' %}decembre
    {% endcase %}

    {{ post.date | date: "%Y" }}

  {% endcapture %}

  {% assign final_date = date_capture %}
  
{% else %} {% comment %} In other words, in English {% endcomment %}

  {% assign final_date = post.date | date: "%B %-d, %Y" %}
{% endif %}

{% assign leftright = 1 %}

<section class="posts">
  <ul>
    {% assign counter = 0 %}
    {% for post in selected_posts %}
      {% assign counter = counter | plus: 1 %}

      <li 
        onclick='location.href="{{ post.url | escape }}";' 
        class="fade 
          fadeOut{% if leftright == 1 %}Left{% elsif leftright == 2 %}Right{% endif %}
        "
      >

        <div class="post-card">
           <h3>
             {{ post.title }}
           </h3>
        </div>
        <div class="post-container">
          <p>
            <strong>
              {{ final_date }}
            </strong>
          </p>

          {% unless post.usage == "newsletter" %}
            {{ post.excerpt }}
          {% endunless %}

          <a 
            href="{{ post.url }}" 
            class="decorate_link"
            >
            {% if fr %}
              lire la suite
            {% else %}
              continue reading
            {% endif %}

          </a>

          <div>&nbsp;</div>    

        </div>
      </li>

      {% if leftright == 1 %}
        {% assign leftright = 2 %}
      {% elsif leftright == 2 %}
        {% assign leftright = 1 %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
</section>
