{% if page.lang == "fr" %}{% assign fr = true %}{% endif %}
<form action="{{ page.url | relative_url }}">
  <div class="tipue_search_left"><i class="fas fa-search fa-lg color-1-dark-text"></i></div>
  <div class="tipue_search_right"><input type="search" autocomplete="off" name="q" placeholder="{% if fr %}Recherchez{% else %}Search{% endif %}..." id="tipue_search_input" pattern=".{2,}" aria-label="{% if fr %}Champ de recherche{% else %}Search field{% endif %}" title="{% if fr %}Au moins 2 caractères{% else %}At least 2 characters{% endif %}" required autofocus></div>
  <div style="clear: both;"></div>
</form><br>
<p id="switch-label">{% if fr %}Recherche du mot entier{% else %}Whole word search{% endif %} &nbsp;<label class="switch">
  <input id=wholecheck type="checkbox" aria-label="{% if fr %}Recherche du mot entier{% else %}Whole word search{% endif %}">
  <span class="slider round" aria-label="{% if fr %}Curseur rond{% else %}Round slider{% endif %}"></span>
        </label></p>
<br>
<div id="tipue_search_content"></div>

<script src="/assets/js/search.js"></script>
