<link rel="stylesheet" href="/assets/css/slide.css">

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 4</div>
  <img src="/assets/images/mtl_homepage1.jpg" style="width:100%">
  <div class="text">Sunday Meeting</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 4</div>
  <img src="/assets/images/MMM%20sign%20-%20Greene.JPG
" style="width:100%">
  <div class="text">The Greene Centre</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 4</div>
  <img src="/assets/images/mtl_homepage3.jpg" style="width:100%">
  <div class="text">Continuing a long tradition of struggle for social justice</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">4 / 4</div>
  <img src="/assets/images/singing_potluck.jpg" style="width:100%">
  <div class="text">Singing potluck</div>
</div>



<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
  <span class="dot" onclick="currentSlide(4)"></span> 
</div>

<script src="/assets/js/slides.js"></script>
