@import "font";
@import "variables";
// Used these colours for a LONG while there
// $color-1:  #205592;
// $color-1-light: #4287D6;
// $color-1-dark: #0D2541;
// $color-active: lighten(#163b64,0%);
// $color-1-light: #5881c3; // Real google suggested colours
// $color-1-dark: #002d64;

$color-1:  #01579B; // Real material.io colours (light blue)
$color-1-light: #4F83CC;
$color-1-dark: #002F6C;
$color-active: darken($color-1,6%);
$body-font-size: 17px;
$body-color: white;
$body-color-text: black;
$header-color-text: white;
$nav-color-text: white;
$header-font-size: 138%;
$redalert-color:  #bf5608; // tried #ce570d;
$redalert-text-color: white;
$redalert-link-color: white;
$bluealert-color: #163b64;
$bluealert-text-color: white;
$bluealert-link-color: white;
$nav-font-size: 1em;
$font-mono: "Courier New", Courier, monospace; 
$font-sans: "Source Sans Pro", Helvetica, Arial, sans-serif; // "Source Sans Pro",
$font-serif: Bitter, Georgia, serif; // "IM Fell English", "Oswald", "Playfair Display",
$serif-spacing: 1.5px;
$text-width: 50em; //Sets the width of the text on the page
