@import "font";
@import "variables";

$color-1:  #205592;
$color-1-light: #4287D6;
$color-1-dark: #0D2541;
$color-active: #4287D6;
$body-font-size: 17px;
$body-color: white;
$body-color-text: black;
$header-color-text: white;
$nav-color-text: white;
$header-font-size: 140%;
$alert-color: #bf5608;
$alert-text-color: white;
$alert-link-color: white;
$nav-font-size: 1em;
$font-mono: "Courier New", Courier, monospace; 
$font-sans: "Source Sans Pro", Helvetica, Arial, sans-serif; // "Source Sans Pro",
$font-serif: "Playfair Display", Georgia, serif; // "IM Fell English", "Oswald",
$serif-spacing: 1.5px;
$text-width: 50em; //Sets the width of the text on the page

// $media-mobile: "@media screen and (max-width: $mob-pixels - 1) ";
// $media-desktop: "@media screen and (min-width: $mob-pixels) ";
