html,:root {
        color-scheme: light dark;
	--body-text: black;
	--color-1: #3f51b5;
	--color-1-dark: #002984;
	--color-1-light: #757de8;
	--nav-text: black;
	--body-bg: white;
	--redalert: #b53f51;
	--bluealert: #a33fb5;
	--alert-text: white;
	--anti-alert-text: black;
	--offText: #121212;
	--active: #283593;
        --heart: #ea2311;
	--leaf: green;
	--chair: #4E342E;
	--card-color: hsl(0,0%,90%);
	--card-header: rgb(246,246,246);
	--card-hover: #bfc8ea; // Used to be #d1d9ff;
	--card-hover-shadow: 0.3;
	--card-shadow: 0.1;
	--wideheader-color: var(--color-1-dark);
	--wideheader-text: var(--alert-text);
        --scrollbar-back: white;
        --scrollbar-thumb: var(--color-1-dark);
  .lightmode {
        color-scheme: light dark;
	--body-text: black;
	--color-1: #3f51b5;
	--color-1-dark: #002984;
	--color-1-light: #757de8;
	--nav-text: black;
	--body-bg: white;
	--redalert: #b53f51;
	--bluealert: #a33fb5;
	--alert-text: var(--body-bg);
	--anti-alert-text: black;
	--offText: #121212;
	--active: #283593;
        --heart: #ea2311;
	--leaf: green;
	--chair: #4E342E;
	--card-color: hsl(0,0%,90%);
	--card-header: rgb(246,246,246);
	--card-hover: #bfc8ea; // Used to be #d1d9ff;
	--card-hover-shadow: 0.3;
	--card-shadow: 0.1;
	--wideheader-color: var(--color-1-dark);
	--wideheader-text: var(--alert-text);
        --scrollbar-back: white;
        --scrollbar-thumb: var(--color-1-dark);
  }

  .darkmode {
        color-scheme: dark light;
	--body-text: white;
	--color-1: #9fa8da;
	--color-1-dark: #6f79a8;
	--color-1-light: #d1d9ff;
	--nav-text: white;
	--body-bg: #121212;
	--redalert: #da9fa8;
	--bluealert: #d19fda;
	--alert-text: var(--body-bg);
	--anti-alert-text: white;
	--offText: #ccc;
	--active: #7986cb;
        --buttonyellow: #ffffcf;
        --heart: #f82d17;
	--leaf: #199111;
	--chair: #795548;
	--card-color: hsl(0,0%,13%);
	--card-header: #1a1a1a;
	--card-hover: #000030;
	--card-hover-shadow: 0.9;
	--card-shadow: .8;
	--wideheader-color: var(--body-bg);
	--wideheader-text: var(--body-text);
        --scrollbar-back: #121212;
        --scrollbar-thumb: var(--color-1-dark);
  }
}

@media (prefers-color-scheme: dark) {
  html,:root {
        color-scheme: dark light;
	--body-text: white;
	--color-1: #9fa8da;
	--color-1-dark: #6f79a8;
	--color-1-light: #d1d9ff;
	--nav-text: white;
	--body-bg: #121212;
	--redalert: #da9fa8;
	--bluealert: #d19fda;
	--alert-text: var(--body-bg);
	--anti-alert-text: white;
	--offText: #ccc;
	--active: #7986cb;
        --buttonyellow: #ffffcf;
        --heart: #f82d17;
	--leaf: #199111;
	--chair: #795548;
	--card-color: hsl(0,0%,13%);
	--card-header: #1a1a1a;
	--card-hover: #000030;
	--card-hover-shadow: 0.9;
	--card-shadow: .8;
	--wideheader-color: var(--body-bg);
	--wideheader-text: var(--body-text);
        --scrollbar-back: #121212;
        --scrollbar-thumb: var(--color-1-dark);
  }
}

.chair {color: var(--chair)}
.heart {color: var(--heart)}
.leaf {color: var(--leaf)}

$narrowheader-scheme: var(--color-1-dark), var(--alert-text);
$wideheader-scheme: var(--wideheader-color), var(--wideheader-text);
$body-scheme: var(--body-bg), var(--body-text);
$footer-scheme: var(--color-1), var(--alert-text);
$footer-selection-scheme: var(--active), var(--alert-text);

@mixin color-scheme($bg, $text) {
  background-color: $bg;
  color: $text;
}

@mixin color-text-scheme($text) {
  background-color: var(--alert-text);
  color: $text;
}

@mixin color-bg-with-text-scheme($bg) {
  background-color: $bg;
  color: var(--alert-text);
}

.color-1 {
    @include color-bg-with-text-scheme(var(--color-1));
  &-text {
    @include color-text-scheme(var(--color-1));
  }
  &-dark {
    @include color-bg-with-text-scheme(var(--color-1-dark));
  }
  &-dark-text {
    @include color-text-scheme(var(--color-1-dark));
  }
  &-light {
    @include color-bg-with-text-scheme(var(--color-1-light));
  }
  &-light-text {
    @include color-text-scheme(var(--color-1-light));
  }
}

.color-active {
  @include color-bg-with-text-scheme(var(--active));
}
