// @font-face {
//   font-family: "IM Fell English";
//   src: url(/assets/google_fonts/IM_Fell_English/IMFellEnglish-Regular.ttf);
// }
// 
// @font-face {
//   font-family: "IM Fell English";
//   src: url(/assets/google_fonts/IM_Fell_English/IMFellEnglish-Regular.ttf);
//   font-style: italic;
// }
// 
// @font-face {
//   font-family: Oswald;
//   src: url(/assets/google_fonts/Oswald/Oswald-VariableFont_wght.ttf);
// 
// }

// @font-face {
//   font-family: "Playfair Display";
//   src: url(/assets/google_fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
//   font-display: swap;
// }


@font-face {
  font-family: "Bitter";
  src: url(/assets/google_fonts/Bitter/Bitter-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(/assets/google_fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(/assets/google_fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
  font-weight: bold;
  font-display: swap;
}
 
@font-face {
  font-family: "Source Sans Pro";
  src: url(/assets/google_fonts/Source_Sans_Pro/SourceSansPro-Black.ttf);
  font-weight: 800;
  font-display: swap;
}

// @font-face {
//   font-family: "Source Sans Pro";
//   src: url(/assets/google_fonts/Source_Sans_Pro/SourceSansPro-Light.ttf);
//   font-weight: lighter;
// }
