@font-face {
  font-family: Oswald;
  src: url(/assets/google_fonts/Oswald/Oswald-VariableFont_wght.ttf)

}

@font-face {
  font-family: "Source Sans Pro";
  src: url(/assets/google_fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(/assets/google_fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(/assets/google_fonts/Source_Sans_Pro/SourceSansPro-Light.ttf);
  font-weight: lighter;
}


@font-face {
  font-family: "Source Sans Pro";
  src: url(/assets/google_fonts/Source_Sans_Pro/SourceSansPro-Black.ttf);
  font-weight: 800;
}
