<div class='embed-container-map'><iframe title="Map to Quebec City worship group" frameborder='0' style='border:0;margin: 0 auto; text-align:center;' src='https://www.google.com/maps/embed/v1/place?q=46.812544%2C%20-71.206850&key=AIzaSyC-B17dRaaDyN_-C8dQHOl0ryyI3Gk7kxM' allowfullscreen></iframe></div>
<div class='embed-container-map'><iframe title="Map to Quebec City worship group" frameborder='0' style='border:0;margin: 0 auto; text-align:center;' src='https://www.google.com/maps/embed?pb=!4v1626028003963!6m8!1m7!1sCAoSLEFGMVFpcE9TTWo0NS1OMGxXWk41ZkMtOFhZOFBiVFViZXYxSzRGbHo4WDNS!2m2!1d46.81278526845773!2d-71.20709282463167!3f144.20756255165338!4f1.5886989420226172!5f3.1422555315175162&key=AIzaSyC-B17dRaaDyN_-C8dQHOl0ryyI3Gk7kxM' allowfullscreen></iframe></div>




