<li id="search">
  <div id=search__spacer>&nbsp;</div>
  <form 
    id="search__form" 
    title=
      {% if fr %}
      "Formulaire de recherche"
      {% else %}
        "Search form"
      {% endif %}

    aria-label=
      {% if fr %}
        "Formulaire de recherche"
      {% else %}
        "Search form"
      {% endif %}
    action="/search-{% if fr %}fr{% else %}en{% endif %}"
    >

  <input 
    title=
      {% if fr %}
        "Texte de recherche"
      {% else %}
        "Search text"
      {% endif %}
     
    id="search__input" 

     aria-label=
       {% if fr %}
         "Texte de recherche"
       {% else %}
         "Search text"
       {% endif %}
      
     type="search" 
     placeholder=
       {% if fr %}
         "Recherchez..."
       {% else %}
         "Search..."
       {% endif %}
      
     autocomplete="off" 
     name="q"
     >
     
    <button 
      title=
        {% if fr %}
          "Bouton de recherche"
        {% else %}
          "Search button"
        {% endif %} 

      aria-label=
        {% if fr %}
          "Soumettre la recherche"
        {% else %}
          "Search submit button"
        {% endif %} 

      id="search__submit" 
      type="submit"
    >

    <i class="fas fa-search"></i>

  </button>

  </form>
</li>
