---
---
@import 'colors';

.cards {padding:2rem}
.cards > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: repeat(4, 220px);
  grid-gap: 1rem;
  list-style-type: none;
}

.cards > ul > a {
  text-decoration: none;
}

.cards > ul > a > li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
  text-align: center;
  height: 220px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: $color-1;
  color: $nav-color-text;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  bottom: 0;
  transition: background-color .3s;
  &:hover {
	  background: $color-1-light;
  }
}
