---
---
@import 'colors';
$height: 7rem;
$mob-pixels: {{ site.breakpoint }};
$buttonyellow: #fafad2;

.container-content {
	flex-direction: column;
        max-width:$text-width;
	box-sizing: border-box;
}
.content{max-width:$text-width;flex: 0 1 auto}
.cards,.posts {padding:1rem}
.cards > ul, .posts > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax($height,1fr));
  grid-auto-flow: dense;
  grid-gap: 1rem;
  list-style-type: none;
  justify-content: center;
  margin: auto;
  padding: 0;
}

.cards > ul > li > a:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-serif;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  border-radius: .5rem;
  cursor: pointer;
  height: $height;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
//  background: $color-1-dark;
//  margin: 0;
  padding: 10px;
  background: $color-1-dark;
  color: $nav-color-text;
  transition: background .3s;
  &:hover {
       background: $color-1;
  }
}

.cards_index > ul > li > a:first-child {
//  display: inline-block;
  transition: all 0.5s;
  font-style: italic;
  font-size: 2.0em;
    &:hover {
	   background: $color-1
    }
    &:hover span {padding-right: 15px;}
    &:hover span:after {
       opacity: 1;
       right: 0;
    }
  span {transition: 0.5s;}
  span:after {
    content: '\00bb';
    color: white;
//    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
}

.posts > ul > li {
  border-radius: .5rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  // margin: auto;
  color: $nav-color-text;
  background: $color-1;
  transition: background .3s;
  > a:first-child {
    //display: inline;
    padding: 0;
    text-decoration: none;
  }
  &:hover h3,&:hover {
    background: $color-active;
  }
}

.post-card {
  h3 {
    font-family: $font-serif;
    background: $color-1-dark;
    text-align: center;
    margin: 0;
    padding: 15px;
    transition: background .3s;
  }
}

.post-container { 
  width: 100%;
  h5 {
    font-family: $font-serif;
    margin: 0;
    padding: 15px;
    text-indent: 5px;
    transition: background .3s;
  }
  p:first-child {margin: 0;text-indent:0px}
  padding: 15px;
   p,a,span {
  text-decoration: none;
  }
  .decorate_link {
    text-decoration: underline;
  }
}

//.sticky_anchor{position:relative}
.abc {
  padding: 0 0 0 5px;
  width: 100%;
  position: sticky;
  display: block;
  background: $color-1;
  //font-family: $font-serif;
  font-size: 120%;
  color: $nav-color-text;
  //text-align: center;
}
.textwhite{color:white}
@media screen and (min-width: $mob-pixels) {
.abc{top:53px}
.stanchor a {top: -80px !important}
.list_button{scroll-margin: 133px 0 0 0}
}
@media screen and (max-width: $mob-pixels - 1) {
.abc{top:0px}
.list_button{scroll-margin: 30px 0 0 0}
}
.abc_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 31px);
  justify-content: center;
  font-size: 140%;
  text-align: center;
  a {
  text-decoration: none;}
}

.filterShow {display:block}
.filterHide {display:none}
#filterInput {
	width: 100%;
	display: block;
	border-radius: .2em;
	font-size: 1em;
	padding: 8px;
//	-webkit-appearance: textfield;
	overflow: visible;
	border: .02px dotted $color-1-light;
	&:focus {
	   border: 2px solid $color-1;
	   outline: 2px solid $color-1;
        }
}
    button::-moz-focus-inner,
    input[type="button"]::-moz-focus-inner,
    input[type="file"] > input[type="button"]::-moz-focus-inner {
    	border: none;
    }

.randombtn {
	cursor: pointer;
	color: $nav-color-text;
	background: $color-1;
	// -webkit-appearance: button;
	border: 1px solid #ccc;
	border-radius: .7em;
	padding: 10px;
}
.list_div {
	border: .15em solid transparent;
        width: 100%;
	max-width: $text-width;
        padding: .3em 1em .3em 3.8em ;
        text-align: left;
	white-space: normal;
}
.list_button {
	@extend .list_div;
        padding: .3em 1em .3em 1.8em ;
	outline: 0;
	&:target {
		border: .15em solid $color-1;
	}
	&:hover {
		color: $nav-color-text;
		background: darken($color-1-light,10%);
	}
}
.buttonyellow {
	background: darken($buttonyellow,8%);
}
