---
---
@import 'colors';
$height: 7rem;

.cards {padding:1rem}
.cards > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax($height,1fr));
  grid-gap: 1rem;
  list-style-type: none;
  justify-content: center;
  margin: auto;
  padding: 0;
}

.cards > ul > a {
  text-decoration: none;
  border-radius: .5rem;
  &:hover > li > h3 {
       background: $color-1-light;
 //      transform: translate(0px,75px);
 //      border-radius: .5rem;
       // transition: background .3s;
  }
}

.cards > ul > a > li {
  border-radius: .5rem;
  text-align: center;
  height: $height;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: $nav-color-text;
  background: $color-1;
  margin: auto;
//  transition: 1s;
//   &:hover {
// 	  background: white;
//          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
//   }
}

.cards > ul > a > li > h3 {
  background: $color-1;
  margin: 0;
  padding: 10px;
  transition: background .3s;
//  transition: transform .5s;
//   transition: border-radius 1s;
}
