---
---
// Already imported
@import "colors.scss";
@import "font.scss";

*,*:before,*:after{box-sizing:inherit}

html,body {
    line-height: 1.5;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px; 
    border: 0px; 
    padding: 0px; 
    font-size: $body-font-size;
    color: $body-color-text;
    background-color: $body-color;
    height: 100%;
    min-height: 100vh;
    max-width: 100%;
}

img {
	max-width: 100%;
}

/* body:not(p,h1,h2,h3,h4,h5,h6,a) {  
  font-family: Arial, Helvetica, sans-serif; 
    margin: 0px; 
    border: 0px; 
    padding: 0px; 
  background-color: white; 
} */

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	margin: 10px 0;
	font-family: $font-serif;
	letter-spacing: $serif-spacing;
}
h2 {font-size: 175%}
h3 {font-size: 140%}
h4 {font-size: 120%}
h5 {font-size: 105%}
h6 {font-size: 95%;}

h1.header,h2.header,h3.header,h4.header {
	font-family: $font-serif;
	text-align: center;
        background-color: $body-color;
        color: $body-color-text;
        padding: 10px;
	margin: 0 auto 0;
}

hr {
  border: 0;
  border-top: 1px solid #e2e2e2;
  margin: 20px 0;
}

a {background-color:transparent;color:inherit; outline-width: 0}
a:active,a:hover,a:visited {outline-width:0;text-decoration: none;}

button {
	text-transform: none;
	-webkit-appearance: button;
}
button,input {
	overflow: visible;
	font:inherit;
	margin: 0;
}


.content.mono {
	font-family: $font-mono;
}
	
.content.serif {
	font-family: $font-serif;
	letter-spacing: $serif-spacing;
}
.footer {
    flex: 1 0 auto;
    color: $nav-color-text;
    font-family: $font-sans;
    font-size: 0.8em;
    padding: 0px 0 5px 0;
    background-color: $color-1;
    text-align: center;
}

.footer h3 {
	padding-top: .5em;
        font-family: $font-serif;
	letter-spacing: $serif-spacing;
	font-size: 2em;
}

.footer h6 {
	font-family: $font-sans;
}

.footer.smaller {
	font-size: 0.75em;
}

.stickystart { // Ends at alert.html
  background-color: $alert-color; /* Red */
  display: flex;
  /*justify-content: center;*/
  justify-content: space-between;
  align-content: center;
}

.alert {
  text-align: center;
  max-width: $text-width;
  font-family: $font-sans;
  font-weight: bold;
  padding: 20px;
  color: $alert-text-color;
  margin: 0 0 ;
  opacity: 1;
  transition: opacity 0.6s; /* 600ms to fade out */
}

.alert a {
   color: $alert-link-color;
   font-weight: 800;
   font-family: $font-sans;
   }

.alert p {
	margin: 0;
}

/* The alert close button */
.closebtn {
  margin: 0 0 0 0;
  align-self: center;
  font-family: $font-sans;
  padding: 0px 20px 0 15px;
  color: white;
  background-color: $alert-color; /* Red */
  font-weight: bold;
  float: right;
  font-size: 1em;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
  z-index: 100;
}

.alert-color-text {
   color: $alert-color;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.theme-gradient {
  color: #000;
  background: linear-gradient(top,$color-1 25%,$color-1-dark 75%)}

.center {
	text-align: center;
}

.img_center25 {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 15px;
    width: 25%;
    }

.img_center50 {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 15px;
    width: 50%;
    }

.img_center75 {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 15px;
    width: 75%;
    }

.img_center100 {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 15px;
    width: 100%;
    }

.img_center {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 15px;
    }

.img_center_no_pad {
    text-align: center;
    margin: 0 auto;
    display: block;
    }

.img_floatleft {
	margin: auto;
	display: block;
	float: left;
	padding: 15px;
}

.color-1 {
	background-color: $color-1;
	color: white
}

.color-1-text {
	background-color: $body-color;
	color: $color-1
}

.color-1-dark-text {
	background-color: $body-color;
	color: $color-1-dark
}

.color-1-light-text {
	background-color: $body-color;
	color: $color-1-light
}

.color-1-dark {
	background-color: $color-1-dark;
	color: white
}

.color-1-light {
	background-color: $color-1-light;
}

.container-alert {
   width: 100%;
   margin: 0 auto;
   background-color: $body-color;
   position: relative;
   margin-bottom: 0;
   height: 100%;
}

main {
   flex: 1 0 auto; /* can grow, cannot shrink auto size */
   /*margin: 0 auto 0; /* this might result in centered text, we'll see */
   min-height: auto;
   background-color: $body-color;
   height: 100%;
}

// Toggle switch
.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 16px;
  top: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 2px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $color-1-light;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(9px);
  -ms-transform: translateX(9px);
  transform: translateX(9px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.down_a_bit {
        vertical-align: bottom;
//        position: relative;
//        bottom: 4px;
}

.down_a_bit_more {
        vertical-align: bottom;
        position: relative;
        bottom: -4px;
}

.container-content {
   width: 100%;
   margin: 0 auto 0; /* this might result in centered text, we'll see */
   background-color: $body-color;
   height: 100%;
   display: flex;
   justify-content: space-around;
}

.content {  /* always on the left if there's media */
   flex: 0 1 $text-width; /* don't grow, can shrink, and starts at $text-width */
   padding: 0 66px 0;
   font-family: $font-sans; 
   font-size:1em;
   text-align:left;
   background-color: $body-color;
   color: $body-color-text;
   margin-bottom: 0;
}

.w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.w3-border{border:1px solid #ccc}
.w3-animate-input{transition:width 0.4s ease-in-out}
.w3-animate-input:focus{width:100%}
.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;text-align:center;cursor:pointer;white-space:nowrap;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;transition:background-color .3s}
.w3-button:hover{background-color:$color-1}

.media {
   flex: 1 0 400px; /* can grow, can't shrink, and set to min 400px */
   padding: 0 3px;
  }
/* large calendar is embed-container2. I don't apply any styling to the mobile sized calendar */

.embed-container2 {
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 
  
.embed-container2 iframe, .embed-container2 object, .embed-container2 embed {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}
/* the google map */
.embed-container-map { 
  position: relative; 
  padding-bottom: 56.25%; height: 0; 
  overflow: hidden; max-width: 100%; 
  } 

.embed-container-map iframe, .embed-container-map object, .embed-container-map embed {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

@media screen and (max-width: 800px) {
  .container-content {   
    flex-direction: column;
  }

  .embed-container2 {
	  display: none
  }
  .embed-container1 {
	  display: default;
  }
  .media {
	  padding: 3px;
  }
  .content {
	  padding: 20px;
  }
  
}

@media screen and (min-width: 801px) {
  .embed-container2 {
	  display: default
  }
  .embed-container1 {
	  display: none;
  }
 .media {
         position: -webkit-sticky;
         position: -moz-sticky;
         position: -ms-sticky;
         position: -o-sticky;
         position: sticky;
         align-self: flex-start;
         right: 0;
         top: 100px;
         max-width: 100%;
 }
}


/* scroll up button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 599;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: $color-1-dark;
  color: white;
  cursor: pointer;
  padding: 11px 15px;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  border-radius:50%;
  transition: 0.3s;
}

#myBtn:hover {
	background-color: $color-1-light;
}
