---
---
// Already imported
@import "font";
$mob-pixels: {{ site.breakpoint }};
$media-pixels: {{ site.mediabreak }};

{% comment %}

  Table of contents

  1) General styling
    a) html body
    b) Components: img, a, button
  2) Headers
  3) Content and footer styling
  4) Alert styling
  5) Special classes
  6) Align icons
    a) Special classes stolen from w3schools
  7) Styling scroll to top button topBtn svg

{% endcomment %}

// 1) General styling

*,*:before,*:after{box-sizing:border-box; margin-top: 0}

html {
	height: 100%;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

// 1a) 
html,body {
    line-height: 1.5;
    scroll-behavior: smooth;
}

// The body is flex to allow media columns on the right in widescreen
// that move down in mobile.
// Flex also makes it easy to keep the footer on the bottom.
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px; 
    border: 0px; 
    padding: 0px; 
    font-size: $body-font-size;
    color: var(--body-text);
    background-color: var(--body-bg);
//    height: 100%;
    min-height: 100vh;
    max-width: 100%;
}

main {
   flex: 1 0 auto; // If the spacing is weird, try turning this off.
   min-height: auto;
   height: 100%;
}
// Styling general components
img {
  max-width: 100%;
  vertical-align: middle;
}

hr {
  border: 0;
  border-top: 1px solid #e2e2e2;
  margin: 20px 0;
}

a {
  background-color:transparent;
  color:inherit;
  &:hover {
    /*outline-width:0;*/
    text-decoration: none !important;
    // background: initial !important;
  }
}

// Remove underline under links
.linkoff,a.wideheader,.navbar a {
	&,&:link,&:visited,&:hover {
    text-decoration: none;
    // background: inherit;
    }
}

// Styling PDF links and external links
a[href$="\.pdf" i]::after {
    font-family: "Font Awesome 5 Free";
    content: '\f1c1';
    font-weight: 900;
    // font-size: .6em;
    margin-left: .3em;
    text-decoration: none;
    background: inherit;
    color: var(--color-1-dark);
    display: inline-block;
}

// Styling external links
a[href^="http" i]::after {
    font-family: "Font Awesome 5 Free";
    content: '\f35d';
    font-weight: 900;
    font-size: .6em;
    margin: 0 0 .05em .4em;
    color: var(--color-1);
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
}

button {
	text-transform: none;
	-webkit-appearance: button;
  &,input {
	overflow: visible;
	font:inherit;
	margin: 0;
  }
}

// Putting outline on focus: good for accessibility e.g. keyboard use
button:not(.dropbtn):focus {
  background: var(--active);
}

:focus {
  outline: 2px solid var(--color-1-dark);
  outline-offset: 5px;
}

// When text is selected, it matches theme
::selection {
	background: var(--color-1);
	color: var(--alert-text);
}

// Creating a custom scroll bar, matching Quaker theme
body::-webkit-scrollbar {
  width: .5em;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-back);
  border-radius: 100vw;
  margin-block: .05em;
}

body::-webkit-scrollbar-thumb {
  //background: linear-gradient(var(--color-1), var(--color-1-dark));
  background: var(--color-1-light);
  border: .05em solid var(--scrollbar-back);
  opacity: 70%;
  border-radius: 100vw;
  transition: background .3s;
  &:hover {
    background: var(--color-1);
  }
  &:active {
    background: var(--color-1-dark);
  }
}


@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-back) ;
  }
}

// 2) Headers
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	margin: 10px 0;
	font-family: $font-serif;
	//letter-spacing: $serif-spacing;
}
h1 {font-size: 1.9rem}
h2 {font-size: 1.5rem}
h3 {font-size: 1.3rem}
h4 {font-size: 1.2rem}
h5 {font-size: 1.1rem}
h6 {font-size: .9rem;}

h1,h2,h3,h4 {
  &.header {
	font-family: $font-serif;
	text-align: center;
        padding: 10px;
	margin: 0 auto 0;
  }
}

// 3) Content and footer styling
.container-content {
   width: 100%;
   margin: 0 auto 0;
   height: 100%;
   display: flex;
   justify-content: space-around;
   //word-spacing: 0.05ch;
}

a.container-content, a.container-content:link, a.container, .container a, .container-content a {
	// This code below makes a gradient underline link
   // text-decoration: none;
   // background: linear-gradient(to right, var(--color-1-light), var(--color-1-dark)); //var(--color-1)
   // background-position: 0 100%;
   // background-size: 100% 1px;
   // background-repeat: repeat-x;
   text-decoration: underline var(--color-1);
   -webkit-text-decoration-line: underline;
   -webkit-text-decoration-color: var(--color-1);
   // -webkit-text-decoration-style: solid !important;
   // -webkit-text-decoration-thickness: 2px !important;
   &:hover {
	// Needed only with the gradient underline link
     //background: initial;
     text-decoration: none;
   }
}

.content {  // always on the left if there's media
   padding: 0 66px;
   font-family: $font-sans; 
   font-size:1em;
   text-align:left;
   margin-bottom: 0;
}
.media {
   flex: 1 0 400px;
   padding: 0 3px;
  }

.content {
  &.mono {
   font-family: $font-mono;
  }
  &.serif {
    font-family: $font-serif;
    //letter-spacing: $serif-spacing;
  }
}
.footer {
    // flex: 1 0 auto;
    color: var(--alert-text);
    font-family: $font-sans;
    font-size: 0.8em;
    padding: 0px 0 5px 0;
    background-color: var(--color-1);
    text-align: center;
     h3 {
	padding-top: .5em;
        font-family: $font-serif;
	//letter-spacing: $serif-spacing;
	font-size: 2em;
     }
     h6 {
	font-family: $font-sans;
     }
     &.smaller {
	font-size: 0.75em;
     }
}

@media screen and (min-width: $mob-pixels) {
  .content {
    flex: 0 1 $text-width;
  }
}

@media screen and (max-width: $mob-pixels - 1) {
  .content {
     flex: 0 1 auto;
  }
}

// Media & Container responsiveness
// These are mostly for Google Maps and Calendar iframes
@media screen and (max-width: $media-pixels) {
  .container-content {   
    flex-direction: column;
  }

  .embed-container2 {
	  display: none
  }
  .embed-container1 {
	  display: initial;
  }
  .media {
	  padding: 3px;
  }
  .content {
	  padding: 20px;
  }
  .widespace {
	  display: none;
  }
}

// @include media(">800px") {
@media screen and (min-width: $media-pixels + 1) {
  .embed-container2 {
	  display: block;
  }
  .embed-container1 {
	  display: none;
  }
 .media {
	 position: sticky;
         align-self: flex-start;
         right: 0;
         top: 100px;
         max-width: 100%;
 }
}

// 4) Alert styling

// Sets the whole alert area as flex
.stickystart { // Ends at alert.html
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.container-alert {
   width: 100%;
   margin: 0 auto;
   background-color: var(--body-bg);
   position: relative;
   margin-bottom: 0;
   height: 100%;
}

.alert {
  text-align: center;
  max-width: $text-width;
  font: {
      family: $font-sans;
      weight: bold;}
  padding: 20px;
  color: var(--alert-text);
  margin: 0 0 ;
  opacity: 1;
  transition: opacity 0.6s;
  a {
    color: var(--alert-text);
    font-weight: 800;
    font-family: $font-sans;
  }
  p {
    margin: 0;
  }
}

 .redalert {
  background-color: var(--redalert);
}
 
.bluealert {
  background-color: var(--bluealert);
}

// The alert close button
.closebtn {
  margin: 0 0 0 0;
  align-self: center;
  font-family: $font-sans;
  padding: 0px 20px 0 15px;
  color: var(--alert-text);
  background-color: transparent;
  font-weight: bold;
  font-size: 1em;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
    &:hover {
     color: var(--anti-alert-text);
    }
}

// 5) Special classes
.center {
	text-align: center;
}

.img_center_no_pad {
    text-align: center;
    margin: 0 auto;
    display: block;
    }

.img_center {
    @extend .img_center_no_pad;
    padding: 15px 0;
  &25 {
    @extend .img_center;
    width: 25%;
  }
  &50 {
    @extend .img_center;
    width: 50%;
  }
  &75 {
    @extend .img_center;
    width: 75%;
  }
  &100 {
    @extend .img_center;
    width: 100%;
  }
}
.img_floatleft {
	@extend .img_center_no_pad;
	float: left;
}

.color-1 {
	background-color: var(--color-1);
	color: var(--alert-text);
   &-text {
	background-color: var(--alert-text);
	color: var(--color-1)
   }
   &-dark {
	background-color: var(--color-1-dark);
	color: var(--alert-text)
   }
   &-dark-text {
	background-color: var(--body-bg);
	color: var(--color-1-dark)
   }
   &-light {
	background-color: var(--color-1-light);
   }
   &-light-text {
	background-color: var(--body-bg);
	color: var(--color-1-light)
   }
}

.color-active {
	background-color: var(--active);
	color: var(--alert-text);
}

.chair {color: var(--chair)}
.heart {color: var(--heart)}
.leaf {color: var(--leaf)}

// 6) Align icons

.down_a {
  &_bit {
     vertical-align: bottom;
    &_more {
        vertical-align: bottom;
        position: relative;
        bottom: -4px;
    }
  }
  &_tad {vertical-align:sub}
}

.bit_left {margin: 0 0 0 -3px}

.embed-container, .embed-container2, .embed-container-map {
  position: relative; 
  border: 0;
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 

.embed-container, .embed-container2, .embed-container-map {
	iframe,object,embed {
           position: absolute;
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
	}
}

// 6a) Special classes stolen from w3schools
.w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%;background:var(--body-bg);color:var(--body-text)}
.w3-border{border:1px solid #ccc}
.w3-animate-input{width:50%;transition:width 0.4s ease-in-out}
.w3-animate-input:focus{width:100%}
.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;text-align:center;cursor:pointer;white-space:nowrap;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;transition:background-color .3s}
.w3-button:hover{background-color:var(--color-1)}


// 7) Styling scroll to top button topBtn svg
.svg-arrow {
  fill: transparent;
  stroke: var(--alert-text);
}
.svg-circle {
  fill: var(--color-1-dark);
  stroke: var(--color-1-dark);
  transition: fill .3s ease, stroke .3s ease;
}

.topBtn {
  font-size: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10;
  border: none;
  outline: none;
  background-color: var(--alert-text);
  cursor: pointer;
  margin: 0;
  padding: 0;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  transition: opacity 100ms ease-in;
  border-radius:50%;
  & svg {
    background-color: transparent
  }

  &__show {
    opacity: 1;
    pointer-events: all;
    transition: opacity 300ms ease-in;
  }

  &:hover {
    opacity: 1 !important;
    // transform: scale(1.1);
  
    .svg-circle {
      fill: var(--color-1-light);
      stroke: var(--color-1-light);
    }
  }
}



