{% if page.lang == "fr" %}{% assign fr = true %}{% endif %}
<span id=copied style="display:none">{% if fr %}Copié!{% else %}Copied!{% endif %}</span>
<div class=center>
  <span><button class="randombtn" onkeypress="openAll()" onclick="openAll()">{% if fr %}Ouvrir tout{% else %}Open all{% endif %}</button>&nbsp;
  <button class="randombtn" onkeypress="closeAll()" onclick="closeAll()">{% if fr %}Fermer tout{% else %}Close all{% endif %}</button>&nbsp;
  {% if fr %}<button class="randombtn" onkeypress="randomEntry{% if page.trans == "glossary_fren" %}_fran{% endif %}()" onclick="randomEntry{% if page.trans == "glossary_fren" %}_fran{% endif %}()">Entrée au hasard</button>{% else %}
   <button class="randombtn" onkeypress="randomEntry{% if page.trans == "glossary_fren" %}_fran{% endif %}()" onclick="randomEntry{% if page.trans == "glossary_fren" %}_fran{% endif %}()">Random entry</button>{% endif %}
<div>&nbsp;</div>
</div>
  {% comment %}The code below is the alphabet link at the top{% endcomment %}
{% if page.trans == "glossary_fren" %}{% assign glossy = site.data.glossaire %}
{% else %}{% assign glossy = site.data.glossary %}{% endif %}
<div class="abc_grid">
{% for each in glossy %}
{% assign nowslice = each.entry | slice: 0 | capitalize %}
  {% comment %}special processing in French{% endcomment %}
{% if nowslice == "S" or nowslice == "É" %}{% if each.first_letter %}{% assign nowslice = each.first_letter %}{% endif %}{% endif %}
{% unless nowslice == abc %}{% assign abc = nowslice %}
<a class="color-1-dark-text" href="#{{ abc }}">{{ abc }}</a>{% endunless %}{% endfor %}</div>
   {% comment %}ok, now the filter bar{% endcomment %}
{% assign counter = -1 %}<div>&nbsp;</div>
<div id=filterDropdown>
	<input aria-label="Filter glossary" id="filterInput" type="search" autocomplete=off placeholder="{% if fr %}Recherchez par entrée{% else %}Filter by entry{% endif %}..." onkeyup="filterFunction(this)" onsearch="filterFunction(this)">
<div>{% comment %}Now all the entries{% endcomment %}
{% for each in glossy %}{% assign counter = counter | plus: 1 %}
 {% assign nowslice = each.entry | slice: 0 | capitalize %}
   {% comment %}special processing in French again{% endcomment %}{% if nowslice == "S" or nowslice == "É" %}{% if each.first_letter %}{% assign nowslice = each.first_letter %}{% endif %}{% endif %}
 {% unless nowslice == abc %}{% assign abc = nowslice %}
 </div>
 <div class="sticky_anchor">
   <div class="filterbye">&nbsp;</div>
   <div class=abc><a class="textwhite"> &nbsp;{{ abc }}</a><div class=stanchor><a name="{{ abc }}"></a></div></div>{% endunless %}
   <button id="no{{ counter }}" onclick="toggleAccordion('{{ counter }}')" onkeypress="toggleAccordion('{{ counter }}')" class="list_button buttonyellow">{% if each.entry-href %}<i id="caret{{ counter }}" class="fas fa-caret-right"></i> &nbsp;&nbsp;<a href="{{ each.entry-href }}">{{ each.entry }}</a>{% else %}<i id="caret{{ counter }}" class="fas fa-caret-right"></i>&nbsp;&nbsp; {{ each.entry }}{% endif %}</button>{% if each.entry-id %}<span class=stanchor><a id="{{ each.entry-id }}"></a></span>{% endif %}
 <div class="list_div filterHide" id="div{{ counter }}">
	 <p>{% if each.translation-href %}<a href="{{ each.translation-href }}">{{ each.translation }}</a>{% else %}{{ each.translation }}{% endif %}</p>
 	{% if each.comment-translation %}<p>{{ each.comment-translation }}</p>{% endif %}
	<p><a id="id{{ counter }}" href="{% if fr %}/nouveau/glossaire{% if page.trans == "glossary_fren" %}_fran{% endif %}#no{{ counter }}{% else %}/new_attender/glossary{% if page.trans == "glossary_fren" %}_fren{% endif %}#no{{ counter }}{% endif %}"></a><span> (<a class=tooltip onclick="copyButton('id{{ counter }}')"><u>{% if fr %}Copier ce lien{% else %}copy link{% endif %}</u><span class="tooltiptext" id="myTooltip_id{{ counter }}">{% if fr %}Copier ce lien dans le presse-papiers{% else %}Copy link to clipboard{% endif %}</span></a>)</span></p>
 </div>
{% endfor %}
</div>
</div>
<div>&nbsp;</div>
<script src="/assets/js/filter.js"></script>
