---
layout: compress
---
{% if page.lang == "fr" %}{% assign fr = true %}{% endif %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#01579B">
<style>
  {% capture inline_style %}{% include email_html/email_style.scss %}{% endcapture%}{{ inline_style | scssify }}
</style>
</head>
<body>
  <header>
    <br>
    {% if page.title %}<h1 class="header">{{ page.title }}</h1>{% endif %}
    {% if page.description %}<h2 class="header">{{ page.description }}</h2>{% endif %}
  </header>
<main>
  <br>
  <article class="container-content">
    <div class="content">
      {{ content }}
      <br>
    </div>
  </article>
</main>
<br />&nbsp; 
<footer class="footer">
  {% if page.lang =="fr" %}{% capture bas-de-page %} {% include email_html/courriel_bas-de-page.md %}{% endcapture %}{{ bas-de-page | markdownify }}{% else %}{% capture footer %} {% include email_html/email_footer.md %}{% endcapture %}{{ footer | markdownify }}{% endif %}
</footer>
</body>
</html>
