---
layout: default
type: dictionary
lang: fr
---
<head><meta property="og:description" content="{{ page.glos.translation }}"></head>
{% assign trans-slice-back = page.glos.trans | slice: -3, 100 %}
{% assign slice1 = page.glos.trans | slice: 0 %}
{% case slice1 %}
  {% when "1" %}
  {% assign last-entry = site.data.EN-glossary-csv | sort: "trans" | last %}
  {% assign max-next = last-entry.trans %}
  {% when "2" %}
  {% assign last-entry = site.data.FR-glossaire-csv | sort: "trans" | last %}
  {% assign max-next = last-entry.trans %}
  {% assign glos = "fren" %}
{% endcase %}

{% capture md %}
_{{ page.glos.translation }}_

{% if page.glos.comment-translation %}
{{ page.glos.comment-translation }}
{% endif %}
{% if fr %}Entrée{% else %}Entry{% endif %} #{{ page.glos.trans }}, updated {{ page.glos.auto-timestamp }}{% endcapture %}
{{ md | markdownify }}

<div class=center>
{% capture entry-nav %}
{% unless trans-slice-back == "001" %}[{% if fr %}Entrée précédente{% else %}Previous entry{% endif %}](/{% if glos %}glossaire/entr{% else %}glossary/entry{% endif %}/{{ page.glos.trans | minus: 1 }}){: class="w3-button color-1-dark"} {% unless page.glos.trans == max-next %}\|{% endunless %} {% endunless %}{% unless page.glos.trans == max-next %} [Next entry](/{% if glos %}glossaire/entr{% else %}glossary/entry{% endif %}/{{ page.glos.trans | plus: 1 }}){: class="w3-button color-1-dark"}{% endunless %}{% endcapture %}{{ entry-nav | markdownify }}
</div>

