<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="refresh" content="1;url={{ page.redirect }}"/>
    <link rel="canonical" href="{{ page.redirect }}"/>
    <script type="text/javascript">
            window.location.href = "{{ page.redirect }}"
    </script>
    <title>{% if page.lang == "fr" %}Redirection de page{% else %}Page Redirection{% endif %}</title>
</head>
<body>
{% if page.lang == "fr" %}Si votre navigateur ne vous redirige pas, suivez <a href='{{ page.redirect }}'>ce lien{% else %}If you are not redirected automatically, follow <a href='{{ page.redirect }}'>this link{% endif %}</a>.
</body>
</html>
